.root {
    -fx-background-image: url("/background-image.jpg"); /* Pad naar je afbeelding */
    -fx-background-size: cover; /* Zorgt dat de afbeelding de hele achtergrond bedekt */
    -fx-background-position: center; /* Centreert de afbeelding */
    -fx-background-repeat: no-repeat; /* Voorkomt herhaling */
}

/* Stijl voor de tekst in de startscherm */
.text {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-fill: #2f4f4f; /* Donkergrijs voor de tekstkleur */
    -fx-alignment: center;
    -fx-text-align: center;
}

/* Stijl voor de Start en Quit knoppen */
.button {
    -fx-font-size: 16px;
    -fx-padding: 10px 10px;
    -fx-background-color: #4ca7af; /* Groene achtergrondkleur */
    -fx-text-fill: white; /* Witte tekstkleur */
    -fx-border-radius: 5px; /* Ronde hoeken */
    -fx-background-radius: 50px; /* Ronde hoeken */
    -fx-cursor: hand; /* Handcursor bij hover */
    -fx-effect: dropshadow(gaussian, #000, 10, 0.5, 0, 2); /* Schaduw effect */
}

/* Stijl voor knoppen wanneer je er met de muis over beweegt */
.button:hover {
    -fx-background-color: #45a049; /* Donkergroene achtergrondkleur bij hover */
    -fx-effect: dropshadow(gaussian, #000, 10, 0.8, 0, 2); /* Versterkte schaduw bij hover */
}

/* Specifieke stijl voor het startscherm, bijvoorbeeld uitlijnen van de knoppen */
.vbox {
    -fx-spacing: 20px; /* Ruimte tussen de elementen */
    -fx-alignment: center; /* Centraal uitlijnen van de knoppen en tekst */
    -fx-padding: 50px; /* Padding rondom de VBox */
}

.text-field {
    -fx-background-color: #f8e8c8; /* Background color */
    -fx-border-color: #bcafa0; /* Border color */

    -fx-border-radius: 5px; /* Border radius */
    -fx-text-fill: #483c32; /* Text color */
    -fx-prompt-text-fill: #a39a8f;
}

.title-label {
    font-size: 36px;  /* Adjust this value as needed */
}

